@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h1>Welcome to the Coin Combination Application</h2>
  <form action="/Find" method="post">
  <div class="form-group">
    <label for="amount">enter the amount here in cents:</label>
    <input name="amount" value="" type="text" required >
  </div>
  <button type="submit">Find Combinations</button>
</form>
</div>
